 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

body {
    text-align: center;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: rgb(133, 158, 128);
    padding: 30px;
    text-align: center;

}

#distance {
    padding: 10px;
    font-size: 16px;
    background: #fff;
    border: none;
    display: inline-block;
    width: 100px;
    outline: none;
    text-align: center;
}

.btn {
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    background: transparent;
    color: #2e2e2e;
    border: 2px solid #fff;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: .3s ease;
}

.btn:hover {
    background: #fff;
    color: #333;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.result {
    background: rgb(8, 2, 44);
    padding: 20px;
    font-size: 18px;
    color: #030101;
}


